backports.ssl-match-hostname==3.5.0.1
boto3==1.3.1
botocore==1.4.40
cssmin==0.2.0
Django==1.9.8
django-assets==0.11
django-pipeline==1.6.8
docker-py==1.9.0
docutils==0.12
futures==3.0.5
ipaddress==1.0.16
jmespath==0.9.0
python-dateutil==2.5.3
requests==2.10.0
rjsmin==1.0.12
simplejson==3.8.2
six==1.10.0
webassets==0.11
websocket-client==0.37.0
